<h1 class="mt-3">Selectores anidados</h1>
<hr>
<form [formGroup]="myform">
    <!-- Continentes -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label" for="">Continente:</label>
            <select class="form-control" formControlName="region">
                <option value="">-- Seleccione continente --</option>
                <option *ngFor="let region of regions" [value]="region"> {{ region }} </option>
            </select>
        </div>
    </div>
    <!-- Paises -->
    <div class="row mb-3" *ngIf="countriesByRegion.length > 0">
        <div class="col">
            <label class="form-label" for="">País:</label>
            <select class="form-control" formControlName="country">
                <option value="">-- Seleccione país --</option>
                <option *ngFor="let pais of countriesByRegion" [value]="pais.cca3"> {{ pais.name }} </option>
            </select>
        </div>
    </div>
    <!-- Fronteras -->
    <div class="row mb-3" *ngIf="borderByCountries.length > 0">
        <div class="col">
            <label class="form-label" for="">Fronteras:</label>
            <select class="form-control" formControlName="border">
                <option value="">-- Seleccione la Frontera --</option>
                <option *ngFor="let frontera of borderByCountries" [value]="frontera.cca3"> {{ frontera.name }} </option>
            </select>
        </div>
    </div>
</form>
<h3>Formulario</h3>
<code>
  {{ myform.value | json}}
</code>
<p>
    is form valid : {{ myform.valid }}
</p>
